{% extends 'CarnetsBundle:Default:index.html.twig' %}
{% block body %}
    big acceuil
    <div id="vmap" class="jqvmap"></div>


    <div class="container">
        {% if carnets is defined %}
            <ul>
                {% for carnet in carnets %}
                    <li>
                        <a href="{{ path('carnets_de_voy_destination',{'slug': carnet.slug}) }}">
                            {{ carnet.destination }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

    </div>


{% endblock %}
{% block javascripts %}
    {% javascripts
    '@CommunUserBundle/Resources/public/js/vector-map/jquery.vmap.min.js'
    '@CommunUserBundle/Resources/public/js/vector-map/jquery.vmap.sampledata.js'
    '@CommunUserBundle/Resources/public/js/vector-map/jquery.vmap.world.js'
    '@CommunUserBundle/Resources/public/js/vector-map/jquery.vmap.usa.js'
    '@CommunUserBundle/Resources/public/js/vector-map/jquery.vmap.europe.js'
    '@CommunUserBundle/Resources/public/js/vector-map/jquery.vmap.russia.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">

        $(document).ready(function () {

            if ($('#vmap').length) {

                $('#vmap').vectorMap({
                    map: 'world_en',
                    zoomButtons: false,
                    zoomOnScroll: false,
                    backgroundColor: '#fff',
                    color: '#5bc0de',
                    borderColor: '#5bc0de',
                    hoverOpacity: 0.7,
                    selectedColor: 'red',
                    showTooltip: true,
                    values: sample_data,
                    scaleColors: ['#5bc0de', '#006491'],
                    normalizeFunction: 'polynomial',
//                    zoomButtons : false,
                    onRegionClick: function (element, code, region) {
                        var message = 'You clicked "'
                                + region
                                + '" which has the code: '
                                + code.toUpperCase();

                        console.log(message);
                    }
                });
            }


        });
    </script>
{% endblock %}