{% extends 'CarnetsBundle:Default:index.html.twig' %}
{% block body %}

    <div class="container">
        {% if carnets is defined %}
            <ul>
                {% for carnet in carnets %}
                    <li>
                        <a href="{{ path('carnets_de_voy_destination',{'slug': carnet.slug}) }}">
                            {{ carnet.destination }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

    </div>
    <div class="container-fluid text-center">
        <div class="row content">

            <div class="col-sm-12">
                {% if entity is defined %}
                    <div id="map_canvas"></div>
                {% else %}
                    <div id="vmap" class="jqvmap"></div>
                {% endif %}
            </div>
        </div>

    </div>

{% endblock %}
{% block javascripts %}
    {% javascripts
    '@CommunUserBundle/Resources/public/js/vector-map/jquery.vmap.min.js'
    '@CommunUserBundle/Resources/public/js/vector-map/jquery.vmap.sampledata.js'
    '@CommunUserBundle/Resources/public/js/vector-map/jquery.vmap.world.js'
    '@CommunUserBundle/Resources/public/js/vector-map/jquery.vmap.usa.js'
    '@CommunUserBundle/Resources/public/js/vector-map/jquery.vmap.europe.js'
    '@CommunUserBundle/Resources/public/js/vector-map/jquery.vmap.russia.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">

        $(document).ready(function () {

            if ($('#vmap').length) {

                $('#vmap').vectorMap({
                    map: 'world_en',
                    zoomButtons : false,
                    zoomOnScroll: false,
                    backgroundColor: '#fff',
                    color: '#5bc0de',
                    borderColor: '#5bc0de',
                    hoverOpacity: 0.7,
                    selectedColor: 'red',
                    showTooltip: true,
                    values: sample_data,
                    scaleColors: ['#5bc0de', '#006491'],
                    normalizeFunction: 'polynomial',
//                    zoomButtons : false,
                    onRegionClick: function(element, code, region)
                    {
                        var message = 'You clicked "'
                                + region
                                + '" which has the code: '
                                + code.toUpperCase();

                        console.log(message);
                    }
                });
            }

            if ($('#map_canvas').length) {

                function initialize() {


                    var myOptions = {
//                zoom: 8,
//                center: new google.maps.LatLng(39.0997, -94.5786),
                        mapTypeId: google.maps.MapTypeId.ROADMAP
                    };

                    var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

                    var url = "{{ path ('carnets_de_voy_carte_path')}}";


                    $.getJSON(url, function (data) {
                        var mypath = new Array();
                        var mypathColor = new Array();
                        var latlngbounds = new google.maps.LatLngBounds();
                        var infoWindow = new google.maps.InfoWindow();

                        //  Parse the Linestring field into an array of LatLngs
                        $.each(data.path, function (index, record) {
                            mypath.push(new google.maps.LatLng(record.lat, record.lng));

                            console.log(record.ville);
                            var contentString = '<div id="content">' +
                                    '<div id="siteNotice">' +
                                    '</div>' +
                                    '<h1 id="firstHeading" class="firstHeading">' + record.title + '</h1>' +
                                    '<div id="bodyContent">' +
                                    record.title
                                    +
//                            '<p><b>Uluru</b>, also referred to as <b>Ayers Rock</b>, is a large ' +
//                            'sandstone rock formation in the southern part of the '+
//                            'Northern Territory, central Australia. It lies 335&#160;km (208&#160;mi) '+
//                            'south west of the nearest large town, Alice Springs; 450&#160;km '+
//                            '(280&#160;mi) by road. Kata Tjuta and Uluru are the two major '+
//                            'features of the Uluru - Kata Tjuta National Park. Uluru is '+
//                            'sacred to the Pitjantjatjara and Yankunytjatjara, the '+
//                            'Aboriginal people of the area. It has many springs, waterholes, '+
//                            'rock caves and ancient paintings. Uluru is listed as a World '+
//                            'Heritage Site.</p>'+
//                            '<p>Attribution: Uluru, <a href="https://en.wikipedia.org/w/index.php?title=Uluru&oldid=297882194">'+
//                            'https://en.wikipedia.org/w/index.php?title=Uluru</a> '+
//                            '(last visited June 22, 2009).</p>'+
                                    '</div>' + +'</div>';


                            var marker = new google.maps.Marker({
                                position: new google.maps.LatLng(record.lat, record.lng),
                                map: map,
                                title: record.ville
                            });

                            latlngbounds.extend(marker.position);
                            (function (marker, record) {
//                        console.log(record);
                                google.maps.event.addListener(marker, "click", function (e) {
                                    infoWindow.setContent(contentString);
                                    infoWindow.open(map, marker);
                                });
                            })(marker, record);


                        });
                        map.setCenter(latlngbounds.getCenter());
                        map.fitBounds(latlngbounds);

                        var polyline = new google.maps.Polyline({
                            path: mypath,
                            strokeColor: '#77bf44',
                            strokeOpacity: 1.0,
                            strokeWeight: 3,
                            geodesic: true
                        });
                        polyline.setMap(map);

                    });
                }

                google.maps.event.addDomListener(window, 'load', initialize);

            }
        });
    </script>
{% endblock %}