{% extends 'CarnetsBundle:Default:index.html.twig' %}
{% block body %}
    <div class="container-fluid text-center">
        <div class="row content">

            <div class="col-sm-9 text-left">
                {{ page.contenu | raw }}
            </div>
            <div class="col-sm-3 sidenav">

                <a data-pin-do="embedBoard" data-pin-lang="fr" data-pin-board-width="230" data-pin-scale-height="300" data-pin-scale-width="60" href="https://www.pinterest.com/{{ pinterest_account }}/{{ pinterest_board }}/"></a>
                <script async defer src="//assets.pinterest.com/js/pinit.js"></script>
            </div>
        </div>
    </div>
{% endblock %}