    <li><a class="{{ "CarnetApp"|menuActive(app.request.attributes.get('_controller')) }} submenu" href="#"
       title="le blog" data-id="blog-sub"><i
                class="entypo-compass"></i><span> le blog</span></a>
    <ul id="blog-sub" class="accordion">

        <li><a href="{{ path('admin_carnet_blog_article') }}" title="les articles"><i
                        class="entypo-newspaper"></i><span> les articles</span></a>
        </li>
        <li><a href="{{ path('admin_carnet_blog_category') }}" title="les categories"><i
                        class="entypo-archive"></i><span> les categories</span></a>
        </li>
        <li><a href="{{ path('admin_carnet_blog_comment') }}" title="les commentaires"><i
                        class="glyphicon glyphicon-comment"></i><span> les commentaires</span></a>
        </li>

    </ul>
</li>
