<div class="col-lg-3 col-md-3 col-sm-6 col-sm-6 no-padding">
    <div class="footer-block">
        <h6>last tweet</h6>

        <div class="f_news clearfix">
            <a class="f_news-img black-hover" href="#">
                {#<img class="img-responsive" src="img/home_6/news_1.jpg" alt="">#}

                <div class="tour-layer delay-1"></div>
            </a>

            <div class="f_news-content">
                <a class="f_news-tilte color-white link-red" href="#">amazing place</a>
                <span class="date-f">Mar 18, 2015</span>
                <a href="#" class="r-more">read more</a>
            </div>
        </div>
        <div class="f_news clearfix">
            <a class="f_news-img black-hover" href="#">
                {#<img class="img-responsive" src="img/home_6/news_2.jpg" alt="">#}

                <div class="tour-layer delay-1"></div>
            </a>

            <div class="f_news-content">
                <a class="f_news-tilte color-white link-red" href="#">amazing place</a>
                <span class="date-f">Mar 18, 2015</span>
                <a href="#" class="r-more">read more</a>
            </div>
        </div>
        <div class="f_news clearfix">
            <a class="f_news-img black-hover" href="#">
                {#<img class="img-responsive" src="img/home_6/news_1.jpg" alt="">#}

                <div class="tour-layer delay-1"></div>
            </a>

            <div class="f_news-content">
                <a class="f_news-tilte color-white link-red" href="#">amazing place</a>
                <span class="date-f">Mar 18, 2015</span>
                <a href="#" class="r-more">read more</a>
            </div>
        </div>
    </div>
</div>
