/composer.lock
/web/bundles
/web/assets
/web/uploads
/app/config/parameters.yml
/app/bootstrap.php.cache
/app/logs
/app/cache
/web/images
/web/css
/web/js
/bin/doctrine
/bin/doctrine-migrations.bat
/bin/doctrine.php.bat
/bin/doctrine-dbal
/bin/security-checker
/bin/security-checker.bat
/bin/doctrine-migrations
/bin/doctrine.bat
/bin/doctrine-dbal.bat
/bin/doctrine.php
/vendor
/tmp
/.idea