<!--Main Menu-->
<div class="responsive-admin-menu">
    <div class="responsive-menu">ORB
        <div class="menuicon"><i class="fa fa-angle-down"></i></div>
    </div>
    <ul id="menu">

        {#back office accueil #}
        <li>
            <a class="{{ "CommunUserBundle"|menuActive(app.request.attributes.get('_controller')) }} submenu"
               href="#"
               title="Dashboard" data-id="dash-sub"><i class="entypo-briefcase"></i><span> Dashboard</span></a>
            <ul id="dash-sub">
                <li><a href="{{ path('admin_user') }}" title="Gérer les utilisateurs"><i
                                class="fa fa-sort-alpha-asc"></i><span>Gérer les utilisateurs</span></a>
                </li>
            </ul>
        </li>

        {#bundle carnet2voyage#}
        {% include'CarnetAppStaticPageBundle:backOffice:menu.html.twig' %}
        {% include'CarnetAppBlogBundle:backOffice:menu.html.twig' %}


    </ul>
</div>
<!--/MainMenu-->