<div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><i
                class="entypo-megaphone"></i><span class="new"></span></button>
    <div id="notification-dropdown" class="dropdown-menu">
        <div class="dropdown-header">Notifications <span class="badge pull-right">8</span></div>
        <div class="dropdown-container">
            <div class="nano">
                <div class="nano-content">
                    <ul class="notification-dropdown">
                        <li class="bg-warning"><a href="#"> <span class="notification-icon"><i
                                            class="fa fa-bolt"></i></span>
                                <h4>Server Down</h4>

                                <p>Server #435 was shut down (Power loss)</p>
                                        <span class="label label-default"><i
                                                    class="entypo-clock"></i> 59 mins ago</span> </a></li>
                        <li class="bg-info"><a href="#"> <span class="notification-icon"><i
                                            class="fa fa-bolt"></i></span>
                                <h4>Too Many Connections</h4>

                                <p>Too many connections to Database Server</p>
                                        <span class="label label-default"><i
                                                    class="entypo-clock"></i> 2 hours ago</span> </a></li>
                        <li class="bg-danger"><a href="#"> <span class="notification-icon"><i
                                            class="fa fa-android"></i></span>
                                <h4>Sausage Stolen</h4>

                                <p>Someone stole your hot sausage</p>
                                        <span class="label label-default"><i
                                                    class="entypo-clock"></i> 3 hours ago</span> </a></li>
                        <li class="bg-success"><a href="#"> <span class="notification-icon"><i
                                            class="fa fa-bolt"></i></span>
                                <h4>Defragmentation Completed</h4>

                                <p>Disc Defragmentation Completed on Server</p>
                                        <span class="label label-default"><i
                                                    class="entypo-clock"></i> 3 hours ago</span> </a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="dropdown-footer"><a class="btn btn-dark" href="#">See All</a></div>
    </div>
</div>