<div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><i
                class="entypo-mail"></i><span class="new"></span></button>
    <div id="inbox-dropdown" class="dropdown-menu inbox">
        <div class="dropdown-header">Inbox <span class="badge pull-right">32</span></div>
        <div class="dropdown-container">
            <div class="nano">
                <div class="nano-content">
                    <ul class="inbox-dropdown">
                        <li><a href="#"> <span class="user-image"><img src="http://placehold.it/150x150"
                                                                       alt="Gluck Dorris"/></span>
                                <h4>Why don't u answer calls?</h4>

                                <p>Listen, dude, time is off. I'll find you soon! Sounds good?...</p>
                                        <span class="label label-default"><i
                                                    class="entypo-clock"></i> 59 mins ago</span> <span class="delete"><i
                                            class="entypo-back"></i></span> </a></li>
                        <li><a href="#"> <span class="user-image"><img src="http://placehold.it/150x150"
                                                                       alt="Gluck Dorris"/></span>
                                <h4>Rawrr, rawrrr...</h4>

                                <p>Listen, dude, time is off. I'll find you soon! Sounds good?...</p>
                                        <span class="label label-default"><i
                                                    class="entypo-clock"></i> 2 hours ago</span> <span class="delete"><i
                                            class="entypo-back"></i></span> </a></li>
                        <li><a href="#"> <span class="user-image"><img src="http://placehold.it/150x150"
                                                                       alt="Gluck Dorris"/></span>
                                <h4>Why so serious?</h4>

                                <p>Listen, dude, time is off. I'll find you soon! Sounds good?...</p>
                                        <span class="label label-default"><i
                                                    class="entypo-clock"></i> 3 hours ago</span> <span class="delete"><i
                                            class="entypo-back"></i></span> </a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="dropdown-footer"><a class="btn btn-dark" href="admin-inbox.html">Save All</a></div>
    </div>
</div>