<div class="btn-group pull-right">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><i
                class="entypo-cog"></i></button>
    <div id="settings-dropdown" class="dropdown-menu keep_open orb-form">
        <div class="dropdown-header">Settings <span class="badge pull-right">6</span></div>
        <div class="dropdown-container">
            <div class="nano">
                <div class="nano-content">
                    <ul class="settings-dropdown">
                        <li>
                            <label class="toggle">
                                <input type="checkbox" name="checkbox-toggle" checked>
                                <i></i>Prevent Midnblow</label>
                        </li>
                        <li>
                            <label class="toggle">
                                <input type="checkbox" name="checkbox-toggle" checked>
                                <i></i>Sleep All nights</label>
                        </li>
                        <li>
                            <label class="toggle">
                                <input type="checkbox" name="checkbox-toggle" checked>
                                <i></i>Drink more Coffee</label>
                        </li>
                        <li>
                            <label class="toggle">
                                <input type="checkbox" name="checkbox-toggle" checked>
                                <i></i>Auto feed cat</label>
                        </li>
                        <li>
                            <label class="toggle">
                                <input type="checkbox" name="checkbox-toggle" checked>
                                <i></i>Dummy Checkbox</label>
                        </li>
                        <li>
                            <label class="toggle">
                                <input type="checkbox" name="checkbox-toggle" checked>
                                <i></i>Read More Books</label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="dropdown-footer"><a class="btn btn-dark" href="#">Save</a></div>
    </div>
</div>