<div class="tab-pane" id="userbar-three">
    <div class="nano">
        <!--Adding Some Scroll-->
        <div class="nano-content">
            <div class="small-todos">
                <div class="input-group input-group-sm">
                    <input id="new-todo" placeholder="Add ToDo" type="text" class="form-control">
                    <span class="input-group-btn">
                    <button id="add-todo" class="btn btn-default" type="button"><i class="fa fa-plus-circle"></i></button>
                    </span> </div>
                <section id="task-list">
                    <ul id="todo-list">
                    </ul>
                </section>
            </div>
        </div>
    </div>
</div>