{% extends "CommunUserBundle:Admin:MainWrapper.html.twig" %}
{% block title %}les carnets de voyages{% endblock title %}
{% block h1_header %}les textes{% endblock h1_header %}
{% block h1_header_s %}des pages generals{% endblock h1_header_s %}
{% block controlerLink %}{{ path('admin_carnet_staticPage_texte') }}{% endblock controlerLink %}
{#{% form_theme edit_form 'bootstrap_3_horizontal_layout.html.twig' %}#}
{% trans_default_domain "app" %}
{% block dynamic_body %}

    <div class="col-md-12 bootstrap-grid">

        <div class="powerwidget" id="datatable-basic-init" data-widget-editbutton="false">
            <header>
                <h2>txt
                    <small> </small>
                </h2>
            </header>
            <div class="inner-spacer">
                <div class="inner-spacer">
                    {{ form(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block dynamic_js %}

{% endblock dynamic_js %}
