{% extends "CommunUserBundle:Admin:body_content.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block user_body_content %}


    {% trans_default_domain 'FOSUserBundle' %}
    <div class="colorful-page-wrapper">
        <div class="center-block">
            <div class="login-block">
                <p>
                    {{ 'resetting.check_email'|trans({'%email%': email}) }}
                </p>

            </div>
        </div>
    </div>



{% endblock %}
