{% extends "CommunUserBundle:Admin:MainWrapper.html.twig" %}
{% block title %}{% endblock title %}
{% block h1_header %}{% endblock h1_header %}
{% block h1_header_s %}-{% endblock h1_header_s %}
{% block controlerLink %}{{ path('admin_domotique_module_sonde_unit') }}{% endblock controlerLink %}
{% form_theme edit_form 'bootstrap_3_horizontal_layout.html.twig' %}
{% trans_default_domain "app" %}
{% block dynamic_body %}

    <div class="col-md-12 bootstrap-grid">

        <div class="powerwidget" id="datatable-basic-init" data-widget-editbutton="false">
            <header>
                <h2>new
                    <small></small>
                </h2>
            </header>
            <div class="inner-spacer">
                <div class="inner-spacer">
                    {{ form(edit_form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
