{% extends "CommunUserBundle:Default:bootstrap.html.twig" %}
{% block body %}
    <div class="smooth-overflow frontend">

        <div class="container frontend">
            <div class="row">
                <div class="page-header">
                    <h1>{{ pageTitle }}</h1>
                </div>
                {#                                                                                         /#}
                {% block content %}{% endblock %}
                {#                                                                                         /#}
            </div>
        </div>

    </div>
{% endblock %}